@import url("https://fonts.googleapis.com/css2?family=Niconne&family=Pacifico&family=Raleway:wght@100;300;400;600;700;800;900;950&family=Roboto+Slab:wght@100;300;400;600;700;800;900;950&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: "Helvetica Neue";
    line-height: 1.5;
    color: #545454;
}

body{
    position: relative;
    display: block;
    font-family: "Roboto Slab";
    font-size: 16px;
    color: #6f6f6f;
    line-height: 1.428571429;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

#main{
    position: relative;
}

a{
    text-decoration: none;
    text-align: left;
}

.container{
    margin: 0 auto;
    position: relative;
    padding: 0px 15px;
}

h1, h2{
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    line-height:1.1;
    width: 100%;
}

.title{
    width: 100%;
    height: 35px;
    margin: 20px 0px 15px;
    color: #dd675b;
    font-family: 'Pacifico';
    font-weight: 100;
}

.divider{
    width: 100%;
    background: url(../images/divider/main-nav-divider.png) no-repeat center top;
    width: 100%;
    height: 40px;
    margin-top: -1px;
    margin-bottom: 16px;
    padding: 0px 0px 40px;
    display: block;
}

.h-220{
    height: 220px;
}

.w-220{
    width: 220px;
}

.h-250{
    height: 250px;
}

.w-250{
    width: 250px;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}
