/* ================Slider==================*/

.wedding-image-slider{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 700px;
    padding-top: 20px;
    margin-top: -10px;
    background-position: center center;
    background-size: cover;
}

.wedding-image-slider .wedding-image-dot-background{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("/images/slider/dots.png");
    z-index: -10;
}

.wedding-image-slider .wedding-image-slideshow{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    overflow: hidden;
}

.wedding-image-slider .wedding-image-slideshow .image-slideshow{
    position: fixed;
    overflow: hidden;
    opacity: 1;
    z-index: -30;
}   

.wedding-image-slider .wedding-image-slideshow img{
    position: relative;
    width: 1519px;
    left: 0px;
    top: -155px;
    height: 1032.92px;
}

.wedding-image-slider h1, .wedding-image-slider h2{   
    color:#fff;
    text-shadow: rgb(0 0 0 / 60%) 0px 1px 0px;
}

.wedding-image-slider h1{
    margin-top: 130px;
    font-size: 140px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-family: "Raleway";
}

.wedding-image-slider span{
    font-family: "Niconne";
}

.wedding-image-slider h2{
    font-size: 50px;
    font-family: "Pacifico";
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.5em;    
    margin-top: 20px;
    margin-bottom: 79.55px; 
}

/* ================Time Ceremony==================*/

.ceremony-time{
    width: 100%;
    padding: 35px 0px;
    text-align: center;
    background: #ffffff;
    position: relative;
}

.ceremony-time .timming-countdown ul{
    margin-bottom: 10px;
}

.ceremony-time .timming-countdown li:before, li:after{
    content: "";
    display: table;
}

.ceremony-time .timming-countdown li::after{
    clear: both;
}

.ceremony-time .timming-countdown ul{
    list-style: none;
}

.ceremony-time .timming-countdown li{
    width: 110px;
    height: 114px;
    display: inline-block;
    margin-right: 20px;
    position: relative;

}

.ceremony-time .timming-countdown .digit{
    font-size: 52pt;
    font-weight: bold;
    float: left;
    width: 55px;
    text-align: center;
    font-family: "Roboto Slab";
    color: #6f6f6f;
    position: relative;
}

.ceremony-time .timming-countdown span{
    float: right;    
    position: absolute;
    display: block;
    bottom: 0px;
    right: 6px;
    font-size: 9pt;
    color: #6f6f6f;
    letter-spacing: 2px;
}

/* ================Couple images==================*/

.couple-image-info{
    position: relative;
    padding: 35px 0px;
    background-color: #f2f2f2;
}


.couple-image-info .image-list{
    width: 100%;
    position: relative;
    margin-top: 20px;
    text-align: center;
    list-style: none;
}

.couple-image-info .image-item{
    margin: 20px;
    width: 220px;
    height: 220px;
    display: inline-block;
}

.couple-image-info .mid{
    width: 250px;
    height: 250px;
}

.couple-image-info .image-list .image{
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 16px rgb(255 255 255 / 60%), 0 1px 2px rgb(0 0 0 / 10%);
    transition: all 0.4s ease-in-out;

}

.couple-image-info .image-list .image:hover{
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 60%), 0 1px 2px rgb(0 0 0 / 10%);

}

.couple-image-info .image-list .first-image{
    background: url(/images/couple/groom.jpg);
    
}

.couple-image-info .image-list .mid-image{
    background: url(/images/couple/couple.jpg);
}

.couple-image-info .image-list .last-image{
    background: url(/images/couple/bride.jpg);
}

.couple-image-info .image .image-info{
    position: absolute;
    background: rgba(222, 103, 95, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}

.couple-image-info .image:hover .image-info{
    transform: scale(1);
    opacity: 1;
}

.couple-image-info .image-info h3{
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.1;
    margin: 0 30px;
    padding: 90px 0 0 0;
    height: 140px;
    font-family: 'Open Sans',Arial, sans-serif;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgb(0 0 0 / 30%);
}

.couple-image-info .image-info p{
    text-align: left;
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    line-height: 28px;
    font-weight: 500;
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
}

.couple-image-info .image:hover p{
    opacity: 1;
    text-align: center;
}

/*===============Love story=============*/
    
.love-story{
    width: 100%;
    padding: 35px 0px;
    position: relative;
    background-color: #ffffff;
}

.story-details .story-details-item .story-time{
    width: 130px;
    height: 100px;
}

.story-details .story-details-item .story-event{
    padding-bottom: 47px;
    border-left: solid 1px #eaeaea;
}

.story-details .story-details-item:last-child .story-event{
    padding-bottom: 0px;
}

.story-details-item .story-time .story-time-content{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #ff675f;
    color: #fff;
    font-size: 17px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.story-details-item .story-event .story-event-details{
    padding: 22px 47px 6px;
    background-color: #f2f2f2; 
    border-bottom: solid 4px #eeeeee;
}

.story-details-item .story-event .story-event-details h3{
    font-weight: 700;
    font-family: "Raleway";
    color: #7b7b7b;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.1;
}

.story-details-item .story-event .story-event-details p{
    line-height: 28px;
    margin-bottom: 25px;
    text-align: justify;
}


.story-details-item .story-event .story-event-details .first-letter{
    font-size: 5.8rem;
    line-height: 5.4rem;
    float: left;
    margin-right: 6px;
}

/*===============View gallery=============*/

.gallery{
    position: relative;
    background: #e0e0e0;
    width: 100%;
    height: 580px;
}

.gallery .photostack{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    text-align: center;
    overflow: hidden;
    z-index: 2;
}

.gallery #gallery-layout-above{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
}

.gallery #btn-gallery{
    position: absolute;
    font-weight: 400;
    border: 3px solid #fff;
    z-index: 4;
    color: #ffff;
    background: transparent;
    padding: 10px 20px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    visibility: hidden;
    font-family: "Roboto Slab";
    line-height: 1.428571429;
    font-size: 16px;
    letter-spacing: 1.5px;
    cursor: pointer;
}

#gallery-layout-above:hover #btn-gallery{
    visibility: visible;
}

#photostack nav{
    position: absolute;
    text-align: center;
    z-index: 2;
    width: 100%;
    bottom: 30px;
    left: 0;
    transition: opacity 0.3s;
    opacity: 0;
}

#photostack nav span{
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: #aaa;
    border-radius: 50%;
    z-index: 11;
    transform: scale(0.48);
    transition: all 0.5s;
}

#photostack figure {
    position: absolute;
    display: block;
    margin: 0;
    padding: 40px;
    background: #f9f9f9;
    transition: transform 0.6s ease-in-out;
}


#photostack h2{
    margin: 20px 0 0 0;
    color: #a7a0a2;
    font-size: 16px;
    font-family: "Raleway";
}

#photostack a{
    display: block;
    width: 240px;
    height: 240px;
}

/*===============Events=============*/

.event{
    position: relative;
    background: #ffffff;
}

.event .event-body .event-item{
    margin-bottom: 30px;
}

.event .event-body .event-item-image{
    margin: 10px auto 10px;
}

.event-body .event-item h3{
    font-size: 24px;
    margin: 20px 0px 10px;
    text-align: center;
    font-family: "Raleway";
    font-weight: 700;
    line-height: 1.1;
    color: #7b7b7b;
    letter-spacing: 1px;
}

.event-body .event-item-image a{
    position: relative;
    display: block;
    margin: 0 0 10px;
    overflow: hidden;
}

.event-body .event-item-image a:hover img{
    opacity: 1;
} 

.event-body .event-item-image figure{
    position: relative;
    margin: 5px;
    background-color: #333;
}

.event-body .event-item-image img{
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: opacity 0.4s;
}

.event-body .event-item-image figcaption{
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 100%;
    top: 0;
}

.event-body .event-item button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
    padding: 4px 20px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 16px;
    line-height: 1.428571429;
    transition: all 0.4s;
}

.event-body .event-item-image a:hover button{
    transform: translate(-50%, -50%) scale(1);
} 

.event-body .event-item ul{
    width: 100%;
    list-style: none;  
    color: #6f6f6f;
    margin-bottom: 10px;
    padding-left: 5px;
}

.event-body .event-item li{
    margin-right: 18px;    
    font-size: 16px;
    font-family: "Roboto Slab";
    display: inline-block;
}

.event-body .event-item p{
    text-align: justify;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 25px;
}

.event-body .event-item .event-map{
    text-decoration: none;
    color: #de675f;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

/* ===========Event=========== */
.wedding-register{
    width: 100%;
    background: url(/images/register/rsvp-bg.jpg) no-repeat center top;
    background-size: cover;
    background-position: center center;
    padding: 70px 0px;
}

.wedding-register h2{
    color: #fff;
    text-shadow: rgb(0 0 0 / 60%) 0px 1px 0px;
}


/*=========Gift Registry======*/

.gift-registry{
    width: 100%;
    padding: 70px 0px;
    background-color: #ffffff;
}


.gift-registry .gift-content p{
    line-height: 28px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: justify;
}

.gift-registry .gift-content .gift-link{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 30px;
    margin-bottom: 10px;
}

.gift-registry .gift-content .gift-link a{
    display: inline-block;
    height: 100%;
    padding: 0px 5px;    
}

/*============End paragraph======*/

.end-paragraph{
    padding: 35px 0px;
    background-color: #f2f2f2;
}

.end-paragraph .end-paragraph-content h2{
    height: auto;
}

.end-paragraph-content{
    text-align: center;
}

.end-paragraph-content h2{
    margin-top: 20px;
    margin-bottom: 15px;
}
