.col-lg-2, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-10, .col-md-6, .col-xs-12{
    padding-right: 15px;
    padding-left: 15px; 
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}


@media all and (min-width: 1024px){
    .container {
        max-width: 1170px;
    }

    .col-lg-2{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-4{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-6{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-lg-10{
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-md-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .col-lg-offset-3{
        margin-left: 25%;
    }

    .col-lg-offset-2{
        margin-left: 16.666667%;
    }
    
    .col-lg-offset-4{
        margin-left: 33.333333%;
    }

    /* Love story */

    .love-story .story-details .story-event .arrowpart{
        width: 15px;
        height: 50px;
        background: url(/images/arrowpart/arrow-left.png) no-repeat 0 23px;
        float: left;
    }

    .love-story .story-details .story-event .story-event-details{
        margin-left: 15px;
    }

    /* Event */

    .event .event-body .event-item{
        float: left;
    }

}

@media all and (min-width: 768px) and (max-width: 1023px){
    .container {
        max-width: 1170px;
    }

    .col-lg-6{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-md-6{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-offset-2{
        margin-left: 16.666667%;
    }

    .col-lg-offset-3{
        margin-left: 25%;
    }

    /* Love story */

    .love-story .story-details .story-event .arrowpart{
        width: 15px;
        height: 50px;
        background: url(/images/arrowpart/arrow-left.png) no-repeat 0 23px;
        float: left;
    }
    
    .love-story .story-details .story-event .story-event-details{
        margin-left: 15px;
    }

    /* Event */
    
    .event .event-body .event-item{
        float: left;
    }
}

@media all and (max-width: 768px){
    .container {
        max-width: 750px;
    }

    .col-lg-8{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-xs-12{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-lg-offset-2{
        margin-left: 0; 
    }
    /* Slider */
    

    /* Love story */

    .love-story .story-details .story-event .arrowpart{
        width: 100%;
        height: 50px;
        float: none;
        background: url(/images/arrowpart/arrow-top.png) no-repeat 50% 100%;
    }

    .love-story .story-details .story-time .story-time-content{
        margin: 0 auto;
    }

    .love-story .story-details .story-event .story-event-details{
        margin-left: 0px;
    }

    /* Wedding image slider */

    .wedding-image-slider h1{
        font-size: 60px;
    }

    .wedding-image-slider h2{
        font-size: 40px;
    }

    /* Event */

    .event .event-body .event-item ul{
        text-align: center;
    }

    .event .event-body .event-item p{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    /* Wedding Register Form */

    .wedding-register .form-container{
        padding: 15px;
    }

    /* Gift Registry */

    .gift-registry .gift-content{
        width: 100%;
        padding: 0 15px;
    }

    /* Footer */

    .footer .footer-content{
        margin: 0px 15px;
    }

    .footer .row{
        justify-content:center;
    }

}